body {
	background-color: #005468;
	margin: 0;
	padding: 0;
}
h1 {
	color: #ffffff;
	margin: 0;
}
a {
	color: #ffffff;
}
.bs-docs-sidenav > li > a {
	border: 0;
}
.bs-docs-sidenav {
	background: none;
	border: 0 1px 0 0 solid #000000;
	width: 100%;
}

.span2 {

}
@media (min-width: 1200px) {
	.row-fluid .span3 {
		width: 100%;
	}
}
.span2 {
	border-color: #000000;
	border-style: solid;
	border-width: 0 1px 0 0;
	padding-bottom: 30px;
}

p {
	color: #ffffff;
}
/* Estilos */
.container-fluid {
	padding: 0;
}
.row-fluid .span10 {
	margin: 0;
}
.header, .header_sidebar {
	background: #5C919E;
	text-align: center;
}
.span10 .content {
	/*padding-left:10px;
	 padding-right: 10px;*/
}

/* Global Project Styles */
.ui-panel-animate.ui-panel-content-wrap > .ui-header.jqm-header {
	height: 67px;
}
.first_sidebar {
	float: left;
	width: 50%;
}
.second_sidebar {
	float: left;
	width: 50%;
}
/*Index Page*/
@media (max-width: 767px) {
	.span2 {
		width: 50% !important;
		float: left;
		padding: 0;
		margin: 0;
		border: 0;
	}

	.span10 {
		width: 50% !important;
		float: left;
		padding: 0;
		border: 0;
		margin: 0;
	}
}
/*Menu RIGHT*/
.menu_right .menu {
	float: left;
	width: 50%;
	height: 100%;
	background: #ffffff;
}

/*Contact Page*/
@media (max-width: 767px) {
	body.contact .span10 {
		width: 60% !important;
		background: #ffffff;
		height: 768px;
	}
	body.contact .span2 {
		width: 40% !important;
	}
	body.contact .span10 p {
		color: #000000;
	}
}
body.contact .header {
	height: 45px;
}
body.contact .header p {
	font-size: 19px;
}
body.contact .span2 {
	text-align: center;
}
body.contact .span2 .span3 .contenido {
	margin-top: 250px;
}
body.contact .span2 button {
	width: 150px;
	margin: 5px 0;
}
body.contact .span2 span {
	text-align: center;
	color: #ffffff;
}
body.contact .content_right .image {
	text-align: center;
	margin: 10px;
}
body.contact .send {
	margin-top: 10px;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}

/*********     Craftman Page     *********/
.carousel-control {
	display: none;
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	/*body.craftman .span2 {
		width: 35% !important;
	}/*
	body.craftman .span10 {
		width: 60% !important;
	}
	body.craftman .span10 .content{
		background: #ffffff;
	}*/


}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	body.craftman .span2 {
		width: 35% !important;
	}
	body.craftman .span10 {
		width: 65% !important;
	}
	body.craftman .carousel-control {
		display: none;
	}
	body.craftman .span10 .content{
		background: #ffffff;
		min-height: 748px;
		padding: 0 10px;
	}

}

/*********     ae     *********/